<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,875},{151,190}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,27},{151,190}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,864},{139,194}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{139,194}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,444},{139,202}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,15},{139,202}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,729},{145,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,23},{145,194}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1125},{185,186}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{185,186}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char05.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,619},{177,186}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{177,186}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char06.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,817},{179,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{179,188}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,543},{185,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{185,194}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,683},{135,180}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{135,180}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char09.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,523},{145,194}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,23},{145,194}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,584},{135,200}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,17},{135,200}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char11.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,669},{147,192}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,25},{147,192}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,896},{163,192}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{163,192}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{175,194}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{175,194}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,494},{133,188}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{133,188}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char15.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1027},{131,188}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{131,188}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char16.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,934},{135,168}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,49},{135,168}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char17.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,706},{119,180}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,37},{119,180}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char18.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,806},{127,170}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,47},{127,170}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>char19.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,523},{115,182}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{115,182}}</string>
                <key>sourceSize</key>
                <string>{237,240}</string>
            </dict>
            <key>character_selection_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{383,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,217}}</string>
                <key>sourceSize</key>
                <string>{383,217}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,411},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>close_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,275},{98,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>instrument1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,499},{119,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{119,121}}</string>
                <key>sourceSize</key>
                <string>{161,133}</string>
            </dict>
            <key>instrument2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1059},{139,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{139,115}}</string>
                <key>sourceSize</key>
                <string>{161,133}</string>
            </dict>
            <key>instrument3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,999},{139,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{139,109}}</string>
                <key>sourceSize</key>
                <string>{161,133}</string>
            </dict>
            <key>level_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,211},{135,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,2},{135,74}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>level_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,478},{213,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{213,64}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>level_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,997},{149,64}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{149,64}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>level_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1060},{187,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{187,64}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,273},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>next_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1070},{111,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>next_btn_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1109},{111,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>next_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1221},{91,91}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{91,91}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>prev_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1062},{111,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>prev_btn_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,887},{111,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>prev_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1221},{91,91}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{91,91}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>s01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,390},{68,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s02.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,174},{70,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s03.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,137},{72,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s04.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,358},{68,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s05.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1062},{64,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,321},{68,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s07.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,517},{66,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s08.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,427},{66,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,444},{56,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{56,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,347},{68,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1136},{60,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{60,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,997},{64,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1099},{60,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{60,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,374},{66,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1062},{64,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>smallCD01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1174},{100,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>smallCD02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1174},{100,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>smallCD03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1175},{100,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>smallCD04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1159},{100,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{262,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{262,122}}</string>
                <key>sourceSize</key>
                <string>{266,128}</string>
            </dict>
            <key>start_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,275},{244,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{244,106}}</string>
                <key>sourceSize</key>
                <string>{266,128}</string>
            </dict>
            <key>t01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,430},{221,47}}</string>
                <key>offset</key>
                <string>{-89,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{221,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{397,87}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,87}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{403,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,87}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{397,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{397,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{345,87}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{345,87}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{299,47}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{299,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t07.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,137},{347,49}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{347,49}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,382},{239,47}}</string>
                <key>offset</key>
                <string>{-82,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{239,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t09.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,427},{275,47}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{275,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t10.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,187},{329,49}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{329,49}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t11.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,475},{265,47}}</string>
                <key>offset</key>
                <string>{-68,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{265,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t12.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,385},{291,41}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{291,41}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t13.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,89},{391,47}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{391,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,187},{329,87}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{329,87}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
            <key>t15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{379,47}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{379,47}}</string>
                <key>sourceSize</key>
                <string>{403,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d94ab1ab8c03fe10de29c5080e5fc8c$</string>
            <key>textureFileName</key>
            <string>LevelUI.png</string>
        </dict>
    </dict>
</plist>
