<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characterSet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1209},{606,347}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{606,347}}</string>
                <key>sourceSize</key>
                <string>{640,385}</string>
            </dict>
            <key>characterSet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,519},{628,343}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{628,343}}</string>
                <key>sourceSize</key>
                <string>{640,385}</string>
            </dict>
            <key>characterSet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,863},{610,345}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{610,345}}</string>
                <key>sourceSize</key>
                <string>{640,385}</string>
            </dict>
            <key>characterSet04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{628,363}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{628,363}}</string>
                <key>sourceSize</key>
                <string>{640,385}</string>
            </dict>
            <key>characterSet05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,752},{616,375}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{616,375}}</string>
                <key>sourceSize</key>
                <string>{640,385}</string>
            </dict>
            <key>firework.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,111},{640,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,319}}</string>
                <key>sourceSize</key>
                <string>{640,319}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,679}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{153,679}}</string>
                <key>sourceSize</key>
                <string>{161,679}</string>
            </dict>
            <key>option_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,155},{44,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>option_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,200},{42,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1369},{346,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,127}}</string>
                <key>sourceSize</key>
                <string>{346,127}</string>
            </dict>
            <key>play_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1},{328,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{328,109}}</string>
                <key>sourceSize</key>
                <string>{346,127}</string>
            </dict>
            <key>shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1369},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1557},{562,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,229}}</string>
                <key>sourceSize</key>
                <string>{562,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e1c6b3ac95bc9e0291f61d67815bb8$</string>
            <key>textureFileName</key>
            <string>MainUI.png</string>
        </dict>
    </dict>
</plist>
